body{
    margin-top: 2%;
    background-image: url("src\img\im.jpeg");
    position: absolute;
    height: 93%;
    width: 100%;

}
h2{
    margin-top: 5%; 
    font-size: 50px;
    text-align: center;
    color: white;
}
.forma{
    text-align: center;
    color: black;
    font-size:40px;
}
.inpu{
    margin-top: 10px;
    text-align: center;
}


/* .div{
    display: inline-block;
  padding: 50px;
} */