<body>
<app-navegation></app-navegation>
<h1 class="titulo">Lista de contenidos</h1>

<div class="posicion">
    <table class="table-fill"   >
        <thead >
            <tr >
            <th >Id</th>
            <th>Estado</th>
            <th>Titulo</th>
            <th>Editar</th>
            <th>Eliminar</th>
            </tr>
        </thead>
        <tbody  >
            <tr *ngFor="let todos of todos"  >
                
                <td >{{todos.name}}</td>
                <td >{{todos.username}}</td> 
                <td >{{todos.email}}</td> 
                <!--<td ><button [routerLink]="['/contenido/edit',todos.id]" class="btn btn-warning" >Editar</button></td> -->
                <td ><button  (click)="editar(todos)" class="btn btn-warning" style="width: 100px;" >Editar</button></td> 
                <td ><button class="btn btn-danger" (click)="delete(todos)">Eliminar</button></td> 
                <!--<td ><button class="btn btn-danger" (click)="deleteCategoria(todos)">Eliminar2</button></td> -->
            </tr>


        </tbody>
    </table>
    <!--<select [(ngModel)]="peel">
        <option *ngFor="let peel of peel" [value]="peel.id" >
            {{peel.title}}
        </option>
        
    </select>-->

</div>
</body>
