body{
    margin-top: 3%;
    background-image: url("src\img\im.jpeg");
    position: absolute;
    height: 93%;
    width: 100%;

}
h2{
    margin-top: 5%; 
    font-size: 50px;
    text-align: center;
    color: white;
}
.forma{
    text-align: center;
    color: black;
    font-size:40px;
}
.inpu{
    margin-top: 10px;
    text-align: center;
}
.select{
    text-align: center;
    font-size:20px;
}