<!-- <div class="container-fluid">
	<p></p>
	<dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
		[(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
	 <ul class="nav nav-tabs" style="margin-top:50px;">
		<li [class.active]="tab===1"><a (click)="tab=1">Arrays</a><li>
		<li [class.active]="tab===2"><a (click)="tab=2">Format</a></li>
		<li [class.active]="tab===3"><a (click)="tab=3">Programmatic changes</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" [class.active]="tab===1">
			<div class="row">
				<div class="col-sm-6" style="margin-top:32px;"><h4>Source</h4><pre><small>{{source|json}}</small></pre></div>
				<div class="col-sm-6" style="margin-top:32px;"><h4>Confirmed</h4><pre><small>{{confirmed|json}}</small></pre></div>
			</div>
		</div>
		<div class="tab-pane" [class.active]="tab===2">
			<form class="form">
				<div class="form-group">
					<label style="display:block;">Direction</label>
					<div class="btn-group">
						<button type="button" class="btn" [ngClass]="{ 'btn-primary' : sourceLeft, 'btn-default' : !sourceLeft }"
							(click)="swapDirection()">left-to-right</button>
						<button type="button" class="btn" [ngClass]="{ 'btn-primary' : !sourceLeft, 'btn-default' : sourceLeft }"
							(click)="swapDirection()">right-to-left</button>
					</div>
				</div>
				<div class="form-group">
					<label>Enable drag-and-drop</label>
					<div class="checkbox">
						<label><input type="checkbox" [(ngModel)]="format.draggable" name="drag">draggable</label>
					</div>
				</div>
				<div class="form-group">
					<label>Locale</label>
					<input class="form-control" [(ngModel)]="format.locale" name="locale">
				</div>
				<div class="form-group">
					<label>Add button</label>
					<input class="form-control" [(ngModel)]="format.add" name="addBtn">
				</div>
				<div class="form-group">
					<label>Remove button</label>
					<input class="form-control" [(ngModel)]="format.remove" name="rmBtn">
				</div>
				<div class="form-group">
					<label>All button</label>
					<input class="form-control" [(ngModel)]="format.all" name="allBtn">
				</div>
				<div class="form-group">
					<label>None button</label>
					<input class="form-control" [(ngModel)]="format.none" name="noneBtn">
				</div>
			</form>
		</div>
		<div class="tab-pane" [class.active]="tab===3">
			<div class="row" style="margin-top:20px;">
				<div class="col-sm-6">
					<label>Modify parent's source</label>
					<form class="form-inline well">
						<input class="form-control col-sm-1" style="margin-right:4px;" [(ngModel)]="userAdd" name="userAdd">
						<button class="btn btn-success" (click)="doCreate()" [disabled]="!userAdd.length">Create</button>
						<button class="btn btn-danger" (click)="doDelete()">Delete</button>
					</form>
				</div>
				<div class="col-sm-6">
					<label>Modify parent's confirmed</label>
					<form class="form-inline well">
					<button class="btn btn-default" (click)="doAdd()">Add</button>
					<button class="btn btn-default" (click)="doRemove()">Remove</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Array source</label>
					<form class="form well">
						<div class="radio" *ngFor="let item of arrayType">
							<label>
								<input type="radio" name="sourceType" [value]="item.value" [(ngModel)]="type" (change)="swapSource()">
								{{item.name}} &mdash; {{item.detail}}
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>General</label><br/>
					<form class="form-inline well">
						<button class="btn btn-default" (click)="doFilter()">{{filterBtn()}}</button>
						<button class="btn btn-default" (click)="doDisable()">{{disableBtn()}}</button>
						<button class="btn btn-primary" (click)="doReset()">Reset</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div> --> 